body { background: #0D0D0D !important; } 

/* Color Theme Swatches in Hex */
.Dark-abstract-backgrounds-1-hex { color: #D9D9D9; }
.Dark-abstract-backgrounds-2-hex { color: #737373; }
.Dark-abstract-backgrounds-3-hex { color: #404040; }
.Dark-abstract-backgrounds-4-hex { color: #262626; }
.Dark-abstract-backgrounds-5-hex { color: #0D0D0D; }

.form {
background-color: #D9D9D9;


}